body {
    margin: 15px 15px 15px 15px;
    background: #f2f2f2;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

.control-container {
    display: flex; /* 启用flex布局 */
    align-items: center; /* 垂直居中对齐子元素 */
    gap: 15px; /* 在子元素之间添加一些间隙 */
}

.control-label {
    margin: 0; /* 如果需要，去除外边距 */
    white-space: nowrap; /* 防止标签换行 */
}

#Scale-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Steps-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Width-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Height-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Content-Strength-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Strength-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Rescale-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Scale-input2 {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Steps-input2 {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Width-input2 {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Height-input2 {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Noise-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
.generate-container {
    display: flex; /* 启用Flexbox布局 */
    align-items: center; /* 垂直居中子元素 */
}

#generate-images {
    flex-grow: 1; 
}
#generate-images2 {
    flex-grow: 1; 
}
.image-preview-container {
    position: relative;
    display: inline-block; /* 或者其他适合您布局的display类型 */
}

#delete-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 5px;
}
.canvas-container {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
