<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Xianyun-TagSelect</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ad.css') }}">
    <script src="{{ url_for('static', filename='js/hm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <style>
        @font-face {
          font-family: 'FontAwesome';
          src: url("{{ url_for('static', filename='fonts/fontawesome-webfont.woff2') }}?v=4.7.0") format('woff2');
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" media="all">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div id="elements-container" style="min-height: 175px;height: auto;line-height: 20px;padding: 6px 10px;resize: vertical;">
                                <div id="addtag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-diamond"></i>output</div>
                        <div class="layui-card-body">
                            <div class="tagarea">
                                <div style="display: flex;flex-flow: row nowrap;">
                                    <div class="layui-form-item layui-form-text" style="flex: 100 100 0%;display: inline-block;vertical-align: middle;">
                                        <div class="layui-input-block" style="margin-left:0px;">
                                            <textarea id="tagarea" class="layui-textarea" placeholder="这里是调整后的词条输出"></textarea>
                                        </div>
                                    </div>
                                    <div align="center" style="width: auto;margin-top: 1vw;margin-left:10px;display: inline-block;vertical-align: middle;">
                                        <div>
                                            <div style="margin-top:10px;">
                                                <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="copytag()">复制 Copy</button>
                                            </div>
                                            <div style="margin-top:10px;">
                                                <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="cleartag()">清空 Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <form class="layui-form" style="width:100%">
                        <div class="layui-input-block" style="display: inline-block;margin-left:0;">
                        <label class="layui-form-label" style="font-weight:bold;width: auto;">English</label>
                        <input type="checkbox" lay-filter="switchenglish" lay-skin="switch" lay-text="ON|OFF" checked=""><div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                        </div>
                        <div class="layui-input-block" style="display: inline-block;margin-left:0;">
                        <label class="layui-form-label" style="font-weight:bold;width: auto;">中文</label>
                        <input type="checkbox" lay-filter="switchchinese" lay-skin="switch" lay-text="ON|OFF" checked=""><div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                        </div>
                        <div class="layui-input-block" style="display: inline-block;margin-left:0;">
                        <label class="layui-form-label" style="font-weight:bold;width: auto;">减权-</label>
                        <input type="checkbox" lay-filter="switchminus" lay-skin="switch" lay-text="ON|OFF"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>OFF</em><i></i></div>
                        </div>
                        <div class="layui-input-block" style="display: inline-block;margin-left:0;">
                        <label class="layui-form-label" style="font-weight:bold;width: auto;">加权+</label>
                        <input type="checkbox" lay-filter="switchplus" lay-skin="switch" lay-text="ON|OFF"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>OFF</em><i></i></div>
                        </div>
                        <div class="layui-input-block" style="display: inline-block;margin-left:0;">
                        <label class="layui-form-label" style="font-weight:bold;width: auto;">删除X</label>
                        <input type="checkbox" lay-filter="switchdel" lay-skin="switch" lay-text="ON|OFF"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>OFF</em><i></i></div>
                        </div>
                        <div class="layui-input-block" style="display: inline-block;margin-left:0;">
                        <label class="layui-form-label" style="font-weight:bold;width: auto;">加权符号切换</label>
                        <input type="checkbox" lay-filter="switchicon" lay-skin="switch" lay-text="( )|{ }"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>{ }</em><i></i></div>
                        </div>
                        <div class="layui-input-block" style="display: inline-block;margin-left:0;"><label class="layui-form-label" style="font-weight:bold;width: auto;">R18</label>
                        <input type="checkbox" name="switch" lay-skin="switch" lay-text="ON|OFF" lay-filter="switchr18" value="1"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>OFF</em><i></i></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-md8">
                <div class="layui-tab layui-card">
                    <ul class="layui-tab-title">
                        <li>画面&光影</li>
                        <li>环境&生物</li>
                        <li>构图&天气</li>
                        <li>画风&材质</li>
                        <li>背景&家具</li>
                        <li>表情&情绪</li>
                        <li>脸部&妆容</li>
                        <li>身体&发型</li>
                        <li>服装&风格</li>
                        <li>配饰&物品</li>
                        <li>人设&物种</li>
                        <li>动作&姿态</li>
                        <li class="layui-this">画师</li>
                        <li>R18</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 500px;overflow-y: scroll;">
                        <div class="layui-tab-item" id="Scene"></div>
                        <div class="layui-tab-item" id="Environment"></div>
                        <div class="layui-tab-item" id="Composition"></div>
                        <div class="layui-tab-item" id="Art_Style"></div>
                        <div class="layui-tab-item" id="Background"></div>
                        <div class="layui-tab-item" id="Expression"></div>
                        <div class="layui-tab-item" id="Face"></div>
                        <div class="layui-tab-item" id="Body"></div>
                        <div class="layui-tab-item" id="Clothing"></div>
                        <div class="layui-tab-item" id="Accessories"></div>
                        <div class="layui-tab-item" id="Character_Design"></div>
                        <div class="layui-tab-item" id="Action"></div>
                        <div class="layui-tab-item layui-show" id="Illustrator"></div>
                        <div class="layui-tab-item" id="r18"><p class="nr18">请打开开关</p></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-tab layui-card" lay-filter="test-hash">
                    <ul class="layui-tab-title">
                        <li lay-id="11">自定义</li>
                        <li lay-id="33">D站Tag导入</li>
                        <li lay-id="22">Tag搜索</li>
                        <li class="layui-this" lay-id="33">关于</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 500px;overflow-y: scroll;">
                        <div class="tagarea layui-tab-item">
                            <div class="layui-card-body" >
                                <div class="tagarea" id="user-Tag">
                                    <div style="display: flex;flex-flow: row nowrap;">
                                        <div class="layui-form-item layui-form-text" style="flex: 100 100 0%;display: inline-block;vertical-align: middle;">
                                            <div class="layui-input-block" style="margin-left:0px;">
                                                <textarea id="tagarea3" class="layui-textarea" placeholder="请在此输入你的tag串,tag将按照逗号划分开并添加为页面元素"></textarea>
                                            </div>
                                        </div>
                                        <div align="center" style="width: auto;margin-top: 1vw;margin-left:10px;display: inline-block;vertical-align: middle;">
                                            <div>
                                                <div style="margin-top:10px;">
                                                    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="loadtag()">加载 Tag</button>
                                                </div>
                                                <div style="margin-top:10px;">
                                                    <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="clearall()">清空 Tag</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="user"></div>
                        </div>
                        <div class="tagarea layui-tab-item">
                            <div class="layui-card-body" >
                                <div class="tagarea" id="extractor">
                                    <div style="display: flex;flex-flow: row nowrap;">
                                        <div class="layui-form-item layui-form-text" style="flex: 100 100 0%;display: inline-block;vertical-align: middle;">
                                            <div class="layui-input-block" style="margin-left:0px;">
                                                <textarea id="tag_extractor" class="layui-textarea" placeholder="在此处输入D站某张图像的网址，例如https://danbooru.donmai.us/posts/114514。由于自带翻译功能，因此需要进行较长时间的等待"></textarea>
                                            </div>
                                        </div>
                                        <div align="center" style="width: auto;margin-top: 1vw;margin-left:10px;display: inline-block;vertical-align: middle;">
                                            <div>
                                                <div style="margin-top:10px;">
                                                    <button id="extractortag" class="layui-btn layui-btn-sm layui-btn-normal" onclick="extractortag()">加载 Tag</button>
                                                </div>
                                                <div style="margin-top:10px;">
                                                    <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="extractorclearall()">清空 Tag</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="user"></div>
                        </div>
                        <div class="tagarea layui-tab-item">
                            <div class="layui-card-body" id="Tag_Sarch_API">
                                <div class="tagarea">
                                    <div>
                                        <div class="layui-form-item layui-form-text" style="flex: 100 100 0%;vertical-align: middle;">
                                            <div class="layui-input-block" style="margin-left:0px;">
                                                <textarea id="tagselect" style="height: 35px;" class="layui-textarea" placeholder="请在此输入你要搜索的内容，中英文皆可"></textarea>
                                            </div>
                                        </div>
                                        <div class="control-container" id="Tag_Sarch_div">
                                                <div class="layui-form"><button class="layui-btn layui-btn-sm layui-btn-normal" onclick="regular_expression()">正则搜索</button></div>
                                                <div class="layui-form"><button class="layui-btn layui-btn-sm layui-btn-normal" onclick="fuzzy_search()">模糊搜索</button></div>
                                                <div class="layui-form"><button class="layui-btn layui-btn-sm layui-btn-normal" onclick="exact_search()">精确搜索</button></div>
                                            <label for="max_results" class="control-label">返回量:</label>
                                            <div class="layui-form">
                                                <input id="max_results" type="text" name="" placeholder="无值则全部返回" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="insertion-point"></div>
                        </div>
                        <div class="tagarea layui-tab-item  layui-show">
                            <div class="control-container">
                                <div class="layuimini-notice-content">
                                    <div onclick="openAdInNewTab('https://msuka.shop/');">
                                        <button class="ad-close-btn" onclick="closeAd(event)">X</button>
                                        <img src="{{ url_for('static', filename='images/Msuka.png') }}" alt="Ad Image" class="ad-image">
                                        <div class="ad-text">
                                            <h2>超值优惠</h2>
                                            <p>希望体验完整NovelAI官网，拥有更快的生成速度？</p>
                                            <p><strong>25美元每月的订阅价格过于昂贵？</strong></p>
                                            <p>点击此处，超低价购买NovelAI原价25＄的礼品卡。</p>
                                            <ul>
                                                <li>代充值、代注册服务</li>
                                                <li>官网订阅不到半价！</li>
                                            </ul>
                                            <button class="ad-action-btn">了解更多</button>
                                        </div>
                                    </div>
                                    <h1>关于本网站</h1><br>
                                    本网站是一个提供词条查找功能的服务站点，本身是<a target="_blank" href="https://nai3.xianyun.cool/">Xianyun Draw Web</a>的一个附属网页，相关规则条例等同于<a target="_blank" href="https://nai3.xianyun.cool/ordinance">Xianyun Draw Web条款</a>；<br><br>
                                    该tag网站的功能都是<a style="color:rgb(255, 0, 0)">无偿提供使用</a>的，不会主动要求收费；<br><br>
                                    <hr class="ws-space-16">
                                    <h2>网站的一些情况：</h2><br>
                                    如果你进行模糊搜索时无响应，请稍微进行等待，可能是结果过多导致的卡顿；<br><br>
                                    如果你进行正则搜索时无响应，你可以更换相近词进行查找或者减少词汇；<br><br>
                                    进行精确搜索时，如果没有结果，可能是你输入的词条不在数据库中；<br><br>
                                    <hr class="ws-space-16">
                                    <h2>其他：</h2><br>
                                    <a target="_blank" href="https://nai3.xianyun.cool/">Xianyun Draw Web</a>这是我的一个基于novelAI_V3的一个绘图网站，如果你想体验一下，欢迎前来使用；<br>
                                    如果你有任何建议，可以<a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=GmMDP5LFpfQiHZ56AtUhAfOuyUKKS3CC&jump_from=webapi&authKey=OJMDZWAxq0Rq4VGTcsB1xmsPFWBQueaGeLt1nNpSlTF8FdcS+y/yu7xSkF5VF/0e"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="成分复杂の魔导世界" title="成分复杂の魔导世界"></a>或在<a target="_blank" href="https://space.bilibili.com/487156342">BiliBili</a>提出意见；<br><br>
                                    <hr class="ws-space-16">
                                    <a href="https://afdian.com/a/lingyunfei"><img width="200" src="https://pic1.afdiancdn.com/static/img/welcome/button-sponsorme.png" alt=""></a >
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/layui.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/drag-arrange.js') }}"></script>
<script src="{{ url_for('static', filename='js/loadTags.js') }}"></script>
<script src="{{ url_for('static', filename='js/TagSearch.js') }}"></script>
<script type="text/javascript">
    window.rootPath = "{{ url_for('static', filename='') }}";
</script>
<script src="{{ url_for('static', filename='js/lay-config.js') }}?v=1.0.4" charset="utf-8"></script>
<script>
    // 加载特定的类别标签
    loadTags('Environment');
    loadTags('Scene');
    loadTags('Composition');
    loadTags('Art_Style');
    loadTags('Background');
    loadTags('Expression');
    loadTags('Face');
    loadTags('Body');
    loadTags('Clothing');
    loadTags('Accessories');
    loadTags('Character_Design');
    loadTags('Action');
    loadTags('Illustrator');
    loadTags('r18');
</script>
<script>
function closeAd(event) {
    event.stopPropagation(); // 阻止点击事件冒泡，避免触发广告的点击跳转
    var adContainer = document.querySelector('.ad-container');
    adContainer.style.display = 'none'; // 隐藏广告容器
}
function openAdInNewTab(url) {
    window.open(url, '_blank'); // 在新标签页中打开链接
}
function loadtag() {
    var input = document.getElementById('tagarea3').value;
    var tags = input.split(/,|，/);

    var insertionPoint = document.getElementById('user-Tag');
    //clearall();
    var usedStrings = new Set(); // 用于存储已经生成的字符串，确保不会重复

    var tagObjects = tags.filter(tag => tag.trim().length > 0).map(tag => {
        var randomString;
        do {
            randomString = generateRandomString(6);
        } while (usedStrings.has(randomString)); // 确保随机字符串不重复
        usedStrings.add(randomString); // 添加到集合中，用于后续检查

        return {
            tag: tag.trim(),
            randomString: randomString
        };
    });

    // 提取所有标签文本进行批量翻译
    var tagTexts = tagObjects.map(tagObj => tagObj.tag);
    translateTexts(tagTexts)
        .then(translatedTexts => {
            tagObjects.forEach((tagObj, index) => {
                var div = document.createElement('div');
                div.className = 'tagbutton';
                div.id = 'butuserTag_' + tagObj.randomString;

                div.innerHTML = '<div class="minus" style="display: none;">-</div>' +
                                '<div class="plus" style="display: none;">+</div>' +
                                '<div class="buttext">' +
                                    '<span class="english">' + tagObj.tag + '</span>' +
                                    '<span class="chinese">' + translatedTexts[index] + '</span>' +
                                '</div>';

                insertionPoint.appendChild(div);
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

function translateTexts(texts) {
    var url = '/api/Tagtranslate';
    return fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ texts: texts })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.translated_texts) {
            return data.translated_texts;
        } else {
            throw new Error('Translation failed');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        return texts; // 在错误情况下返回原始文本
    });
}

const apiUrl = '/api/extract_tags';

function extractortag() {
    var button = document.getElementById("extractortag");
    button.disabled = true;
    button.classList.add("layui-btn-disabled"); // 添加layui禁用类
    button.textContent = "请求中..."; // 更改按钮文本
    const url = document.getElementById('tag_extractor').value;
    if (!url) {
        alert("请输入URL");
        button.textContent = "加载 Tag";
        button.classList.remove("layui-btn-disabled");
        button.disabled = false;
        return;
    }
    var loadingIndex = layer.msg('加载中，请等候大约20秒-1分钟。长时间未响应则代表出现了未知问题', {icon: 16});
    fetch(`${apiUrl}?url=${encodeURIComponent(url)}`)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        loadTagsFromData(data);
        button.textContent = "加载 Tag";
        button.classList.remove("layui-btn-disabled");
        button.disabled = false;
        layer.close(loadingIndex);
    })
    .catch(error => {
        alert('There has been a problem with your fetch operation:', error);
        layer.close(loadingIndex);
        button.textContent = "加载 Tag";
        button.classList.remove("layui-btn-disabled");
        button.disabled = false;
    });
}

function loadTagsFromData(data) {
    const insertionPoint = document.getElementById('extractor');
    //extractorclearall(); // 清空当前标签

    const usedStrings = new Set();

    data.forEach(tagData => {
        const tagName = tagData.tag_name;
        const translatedTagName = tagData.translated_tag_name; // 翻译后的标签名

        if (tagName.trim().length > 0) {
            let randomString;
            do {
                randomString = generateRandomString(6);
            } while (usedStrings.has(randomString));
            usedStrings.add(randomString);

            const div = document.createElement('div');
            div.className = 'tagbutton';
            div.id = 'butuserTag_' + randomString;

            div.innerHTML = `<div class="minus" style="display: none;">-</div>` +
                            `<div class="plus" style="display: none;">+</div>` +
                            `<div class="buttext">` +
                            `<span class="english">${tagName.trim()}</span>` +
                            `<span class="chinese">${translatedTagName}</span>` +
                        `</div>`;
            insertionPoint.appendChild(div);
        }
    });
}

function clearall() {
    var userTagDiv = document.getElementById('user-Tag');
    var existingTags = userTagDiv.querySelectorAll('.tagbutton');
    existingTags.forEach(function(tag) {
        tag.remove();
    });
}

function extractorclearall() {
    var userTagDiv = document.getElementById('extractor');
    var existingTags = userTagDiv.querySelectorAll('.tagbutton');
    existingTags.forEach(function(tag) {
        tag.remove();
    });
}

function generateRandomString(length) {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
}
</script>
</body>
</html>
